@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Rubik:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: Poppins,Rubik;
}

/*dark theme variable */
:root{
        --header-color: #453bd8;
        --background-color:#000;
        --primary-color: hsla(0, 100%, 100%, 1);
        --tablink-color: rgb(240, 240, 230);
        --box-background:#262626;
    }

html{
scroll-behavior: smooth;
}

body{
    box-sizing: border-box;
width:100vw;
height: 100vh;
 overflow-x: hidden; 
font-family: Poppins,Rubik ;
background-color: var(--background-color);
color:var(--primary-color);
}

/*------------------ Navbar credit: Traversy Media ---------------------- */
.navbar {
    background-color: #000;
    height: 70px;
    width: 100%;
    padding: 5px 10px;
    margin-bottom: 50px;
    position:fixed;
    top:0; 
    z-index: 10;
    opacity: 0.8;
  }
  
  .navbar img {
    display: block;
    width: 60px;
    height: 60px;
  }
  
  .navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .navbar ul {
    display: flex;
  }
  
  .navbar ul a {
    margin-left: 30px;
    padding-bottom: 5px;
    color:var(--primary-color);
  }
  
  .navbar ul a:hover {
    color: var(--header-color);
    border-bottom: 2px var(--header-color) solid;
  }

  .mobile-menu {
    display: none;
  }
  
  @media (max-width: 767px) {
    .desktop-menu {
      display: none !important;
    }
  }
  
  @media (max-width: 768px) {
    .mobile-menu {
      display: block;
      position: fixed;
      top: 0;
      right: 70px;
      z-index: 3;
    }
  
    .mobile-menu .toggler {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 2;
      cursor: pointer;
      width: 60px;
      height: 60px;
      opacity: 0;
    }
  
    .mobile-menu .hamburger {
      position:absolute ;
      top: 0;
      left: 0;
      z-index: 1;
      width: 70px;
      height: 70px;
      padding: 1rem;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  
    /* Hamburger Line */
    .mobile-menu .hamburger > div {
      position: relative;
      flex: none;
      width: 100%;
      height: 2px;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: all 0.4s ease;
    }
  
    /* Hamburger Lines - Top & Bottom */
    .mobile-menu .hamburger > div::before,
    .mobile-menu .hamburger > div::after {
      content: '';
      position: absolute;
      z-index: 1;
      top: -10px;
      width: 100%;
      height: 2px;
      background: inherit;
    }
  
    /* Moves Line Down */
    .mobile-menu .hamburger > div::after {
      top: 10px;
    }
  
    /* Toggler Animation */
    .mobile-menu .toggler:checked + .hamburger > div {
      transform: rotate(135deg);
    }
  
    /* Turns Lines Into X */
    .mobile-menu .toggler:checked + .hamburger > div:before,
    .mobile-menu .toggler:checked + .hamburger > div:after {
      top: 0;
      transform: rotate(90deg);
    }
  
    /* Rotate On Hover When Checked */
    .mobile-menu .toggler:checked:hover + .hamburger > div {
      transform: rotate(225deg);
    }
  
    /* Show Menu */
    .mobile-menu .toggler:checked ~ .menu {
      visibility: visible;
    }
  
    .mobile-menu .toggler:checked ~ .menu > div {
      transform: scale(1);
      transition-duration: 0.75s;
    }
  
    .mobile-menu .toggler:checked ~ .menu > div > div {
      opacity: 1;
      transition: opacity 0.4s ease 0.4s;
    }
  
    .mobile-menu .menu {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 70%;
      visibility: hidden;
      overflow: hidden;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  
    .mobile-menu .menu > div {
      background: blue;
      border-radius: 50%;
      width: 200vw;
      height: 200vw;
      display: flex;
      flex: none;
      align-items: center;
      justify-content: center;
      transform: scale(0);
      transition: all 0.4s ease;
    }
  
    .mobile-menu .menu > div > div {
      text-align: center;
      max-width: 90vw;
      max-height: 100vh;
      opacity: 0;
      transition: opacity 0.4s ease;
    }
  
    .mobile-menu .menu > div > div > ul {
      flex-direction: column;
    }
  
    .mobile-menu .menu > div > div > ul > li {
      list-style: none;
      color: #fff;
      font-size: 0.4rem;
      padding: 1rem;
    }

    .mobile-menu .menu > div > div > ul > li:hover{
color:var(--header-color);
    }
  
    .mobile-menu .menu > div > div > ul > li > a {
      color: inherit;
      text-decoration: none;
      transition: color 0.4s ease;
      margin-left: 0;
    }
  }
  /* --------end of navbar-------------- */
  

/* custom styling */
.container{
width:90%;
margin:0 auto;
}

li{
list-style: none;
}

a{
    text-decoration: none;
    cursor: pointer;
}

/* --------About me-------- */
.about{
height: 700px;
background: #000000 url('pexels-shawn-stutzman-1010496.jpg') no-repeat right center/cover;
background-attachment: fixed;
width: 100%;
margin-top:70px;
color:var(--primary-color);
}

.about .intro{
  display:flex;
  align-items: center;
  justify-content:center;
gap:90px;
margin-top:160px;
}

.about .intro .intro-left{
  padding:20px;
}

.about .intro .intro-left small{
  color:var(--header-color);
}

.about .intro .intro-left h2{
  font-size: 48px;
}

.about .intro .intro-right{
  width:250px;
}

.about .intro .intro-right img{
  width: 100%;
  border-radius: 12px;
}

.about-me{
  margin-top: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  color:#fff;
}

.about-me-container{
  border: 2px solid var(--box-background);
  border-radius:10px;
  box-shadow: 1px 1px  3px var(--box-background), -1px -1px  3px var(--box-background);
  background-color: #080808;
  padding: 10px;
  width:325px;
  height:auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: justify;
}

.about-me-container h2{
  font-size: 1.4rem;
  margin-bottom: 8px;
}

.about-me-container .about-p{
  border-bottom: 2px solid var(--box-background);
  line-height: 1.5rem;
  padding-bottom: 5px;
}

.about-me-container .tab-container{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 25px;
  border-bottom: 3px solid var(--box-background);
  padding-bottom: 10px;
  width: 100%;
}

.tab-container .tablink{
  cursor: pointer;
  position: relative;
  padding: 0 20px;
  transition: all .4s ease-in;
}

.tab-container .tablink.active{
  color:#ee0851;
transition: all .4s ease-in;
}

.tab-container .tablink.active::after{
content:"";
position: absolute;
top:33px;
background: #ee0851;
left: 0;
width: 100%;
height: 3px;
}

/* -----------tabcontent----------- */
.tablink-container {
  display: flex;
  width:100%;
  margin-top: 20px;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
}

.tablink-container div{
  margin-left: 0;
  text-align: justify;
}

.tablink-container div .tabcontent{
  display: none;
}

.tablink-container div .tabcontent.active{
  display:  block;
}

.tablink-container div ul li{
  margin-top: 20px;
}

.tablink-container div ul li span{
  color:var(--header-color);
}

.tablink-container div ul .bar-container{
  position: relative;
  margin-bottom: 40px;
}

.tablink-container div ul li .bar{
  position: absolute;
width:296px;
height: 5px;
border-radius: 10px;
margin-top: 12px;
}

.tablink-container div ul li .p-bar-1{
  background-image: linear-gradient(to right, #ee0851 95%, #fff 95% );
}

.tablink-container div ul li .p-bar-2{
  background-image: linear-gradient(to right, #ee0851 90%, #fff 90% );
}

.tablink-container div ul li .p-bar-3{
  background-image: linear-gradient(to right, #ee0851 85%, #fff 85% );
}

.tablink-container div ul li .p-bar-4{
  background-image: linear-gradient(to right, #ee0851 70%, #fff 70% );
}

/* Meida query for about section */
@media(max-width:700px) {
  .about .intro .intro-left h2{
    font-size: 33px;
  }
}

@media(max-width:580px) {
  .about .intro{
    flex-direction: column;
  }

  .about .intro .intro-left h2{
    font-size: 36px;
    font-family: Lobster;
  }

  .about .intro .intro-right{
    margin-top: -50px;
    width:60%;
  }
  
  .about-me-container{
    width:100%;
  }

.tablink-container div  {
  width:100%;
}

.tablink-container div ul li .bar{
  width: 100%;
}
}

/* -----------------Services------------------- */
.sub-title{
  padding-top:5rem;
    margin-top: 350px;
margin-bottom: 70px;
    color:var(--primary-color);
    width:100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.services-list{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    gap: 40px;
    margin-top: 30px;
}

.services-list div{
    background: var(--box-background);
    height: 270px;
    width: 350px;
    border:2px solid var(--box-border-color);
    color:var(--primary-color);
    padding:30px;
    font-size: 13px;
    font-weight: 300;
    border-radius: 4%;
    line-height: 1.7rem;
    transition: transform 0.5s;
    text-align: justify;
}

.svg-center{
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
}

.services-list div svg{
background-color: blue;
border-radius: 50%;
padding: 10px 0 ;
width: 60px;
height: 60px;
margin-top: -20px;
    margin-bottom: 30px;
color:#fff;
}

.services-list div h2{
    font-size: 25px;
    font-weight: 500;
    padding:6px 0;
}

.services-list div a{
text-decoration: none;
color:var(--header-color);
font-size: 12px;
margin-top: -10px;
display: inline-block;
margin-left: 15rem;
position: sticky;
}

.services-list div:hover{
    background-color:#ff004f;
    transform: translateY(-10px);
    color:#fff;
}

/* -----------media query for service section------------- */
@media(max-width:850px){
.services-list div{
    width: 100%;
    height: 270px;
}
    .services-list div a{
        margin-left: 84%;
    }

    .services-list div h2{
        font-size: 25px;
        font-weight: 500;
    }

.services-list div p{
margin-top: 8px;
line-height: 1.3rem;
} 
}


@media(max-width:580px){
  .sub-title{
    padding-top: 250px;
  }
}

/* ---------------Resume--------------- */
.res{
    height: 200px;
    margin-top: 20px;
    display: flex;
flex-direction: column;
    align-items: center;
    justify-content: center;
color:var(--primary-color);
position: relative;
z-index: 90;
}

.res p{
position: absolute;
top:120px;
padding: 10px 20px;
border:1px solid var(--primary-color);
cursor: pointer;
}

.res p a{
    color:var(--primary-color);
}

.res p:hover{
    background-image: linear-gradient(to top right, #453bd8 50%, #ee0851 50%);
}

.res h3{
    position: absolute;
    top:70px;
    font-weight: 500;
font-size: 1.4rem;
}

/* ----------------portfolio------------------- */
.port-start{
margin-top: 40px;
    display: flex;
justify-content: center;
align-items: center;
color:var(--primary-color);
}

.portfolio{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
justify-content: center;
align-items: center;
    width: 90%;
    gap: 35px;
    margin-top: 40px;
}

.portfolio .port_img{
width:400px;
height: 200px;
position: relative;
}

.portfolio .port_img img{
width: 100%;
height: 100%;
position: absolute;
}

.portfolio .port_img .port_info{
    display: none;
    position: absolute;
width: 100%;
height: 100%;
    z-index: 4;
}

.portfolio .port_img:hover > .port_info {
    display: block;
}

.portfolio .port_img .port_info .icon{
    display: flex;
    align-items: center;
    justify-content: center;
    width:100%;
    height: 70%;
background-color:#000000;
opacity: 0.8;
}

.portfolio .port_img .port_info .text-container{
    display: flex;
    align-items: center;
    justify-content: center;
    width:100%;
    height: 30%;
background-color: var(--header-color);
}

.portfolio .port_img .port_info a svg{
    color: white;
    border-radius: 50%;
width: 30px;
height: 30px;
cursor: pointer;
}

.portfolio .port_img .port_info p{
color:#fff;
}

@media(max-width:500px) {
        .portfolio .port_img{
            width:100%;
            }
    }

    /* ----------------contact---------------- */
    .contact{
        background:aliceblue;
        width: 100%;
        height: 550px;
        margin-top: 90px;
        padding-top: 50px;
    }

    .contact_center{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap:50px;
    }

    .contact_center svg{
        color:#453bd8;
        width: 50px;
        height: 50px;
        margin-top: 30px;
    }

    .contact_center p{
        font-size: 1.3rem;
        margin-top: -20px;
color:#080808;
    }

    .contact_center form{
        display: flex;
        flex-direction: column;
        gap:20px;
        width: 350px;
    }

    .contact_center form input{
        width:100%;
height: 40px;
padding: 10px;
background-color:rgb(218, 216, 213);
outline:none;
border: 2px solid rgb(218, 216, 213); 
border-radius: 5px;
color:#080808;
font-size: 0.8rem;
    }

    .contact_center form textarea{
        resize: none;
        width: 100%;
padding: 10px;
background-color:rgb(218, 216, 213);
outline:none;
border: 2px solid rgb(218, 216, 213); 
border-radius: 5px;
color:#080808;
font-size: 0.8rem;
    }

    .contact_center form .btn{
        width: 100%;
height: 40px;
background-color:var(--header-color);
outline:none;
border: 2px solid var(--header-color);
border-radius: 6px;
cursor: pointer;
color:#fff;
font-size: 1.1rem;
text-transform: uppercase;
    }

/* ----------media query for small devices-------------- */
@media(max-width:450px) {
    .contact_center form{
width:100%;
    }
}

/* -------------------footer--------------- */
footer{
    background-color: #453bd8;
height: 170px;
}

.footer_container{
position: relative;
}

footer .footer_icon{
    position: absolute;
    margin-top: 50px;
    width: 100%;
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

footer .footer_icon a svg{
    width: 25px;
    height: 25px;
color:#fff;
cursor: pointer;
}

footer .footer_icon svg:hover{
    color:#000000;
}

footer aside{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer aside p{
    position: absolute;
    top:120px;
    color:#fff;
    opacity: 0.67;
}
